@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* , ::before , ::after {
    box-sizing:border-box;
}

:root {
    --violet: #4827EC ;
    --violet-light: #5739ec ;
    --gray: #EFF0F0;
    --black:#0D1317;
    --white:#fff;

    --bg-input:#eff0f0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.form { 
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.darkMode-title-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkMode {
    display: flex;
    align-items: center;
    padding: 1px;
}

.darkMode__light , .darkMode__dark {
    display: block;
    width: max-content;
    padding: 2px;
    text-decoration: none;
    color: #000;
}

.darkMode__light:hover , .darkMode__dark:hover {
    text-decoration: underline;
}

.darkMode__span {
    display: block;
}

.title {
    font-size: 1.5rem;
    background-color: transparent;

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    display: block;
    font-size: .90rem;
    margin-bottom: 5px;
    color: #000;
}

.input , .textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d6d7d7;
    background-color:var(--bg-input ,  #eff0f0);
}

.input {
    padding: 5px 0 ;
}

.input:focus , .textarea:focus {
    border: 2px solid var(--violet , #4827EC);
    outline: none;
}

.textarea {
    resize: none;
    padding: 7px 0;
}

.small-text {
    display: block;
    margin-top: 10px;
    font-size: .75rem;
    color: #000;
}

.hr {
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #d6d7d7;
}

.btn {
   align-self: flex-end;
   padding: 7px 12px;
   border: none;
   border-radius: 3px;
   color: var(--white);
   background-color: var(--violet , #4827EC );
   cursor: pointer;
}

@media screen and (min-width:768px) {

    .form {
        max-width: 800px;
    }

    .form-container {
        display: grid;
        grid-template-columns:repeat(2 , 1fr) ;
        grid-template-rows: auto auto ;
        grid-template-areas: "form__email form__password"
        "form__message form__message";
    }

    .form__email {
        grid-area: form__email;
    }

    .form__password {
        grid-area: form__password;
    }

    .form__message {
        grid-area: form__message;
    }

    .input {
        padding: 12px 0 ;
        padding-left: 20px;
    }
    
    .textarea {
        resize: none;
        padding: 16px 0 16px 20px;
    }

}

@media screen and (hover: hover) {
    .btn:hover {
        background-color: var(--violet-light , #5739ec);
    }
}
